html {
  font-family: "Oswald", sans-serif;
  background-color: #cc0000;
  text-align: center;
  margin: 2em;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
